
<div class="card" style="padding: 1em">
    @{
        ViewData["Title"] = "About Us";
    }
    <h1 style="font-weight: 700">@ViewData["Title"]</h1>

    <p class="aboutBody">
        ToDyeFor is a web application that allows surface designers, textile artists and DIY creators to calculate,
        search, create and keep track of dye recipes. The idea came from working for 5 years in a small surface
        design studio where all the recipes and fabric swatches were recorded and calculated by hand and stored
        in binders and bins. Needless to say it could be unorganized at times and lead to lost recipes, incorrect
        calculations and wondering where this beautiful scrap of fabric came from and how to replicate it. ToDyeFor
        aims to remove the headache of keeping track of dye recipes, incorrect calculations, and searching for a
        desired recipe.
    </p>

    <p>Contact us at <strong>info.ToDyeFor@gmail.com</strong> <button class="btn btn-sm btn-light" id="clipboardButton" ><i class="small material-icons">content_copy</i></button> with any inquiries or feedback.</p>
</div>

<input type="text" value="info.ToDyeFor@gmail.com" style="display:none" id="infoEmail"/>

<script>
        let emailButton = document.getElementById("clipboardButton");

        emailButton.addEventListener("click", function () {

            let copyText = document.getElementById("infoEmail");
            copyText.focus();
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            document.execCommand("copy");
            alert(`Copied "${copyText.value}" to clipboard.`);
        })
</script>


<div class="centered">

    <section class="cards">

        <div class="card" id="listCard">
            <img style="border-radius: 50%; padding: 30px;" class="card-img-top" src="https://avatars.githubusercontent.com/u/66883810?s=400&u=1a50ba5898b17b4eca31c535b1351ca611124c5e&v=4" />
            <div class="card-body">
                <h4>Rachel Rolon </h4>
                <strong> Contributor </strong>
                <p>After 10 years in the textile and fashion industry, she now hopes to help solve people's problems in creative and interesting ways through technology.</p>
                <p><a href="https://github.com/rrolon47">GitHub</a> | <a href="https://www.linkedin.com/in/rachelmrolon/">LinkedIn</a></p>
            </div>
        </div>

        <div class="card" id="listCard">
            <img style="border-radius: 50%; padding: 30px;" class="card-img-top" src="https://avatars.githubusercontent.com/u/69996490?s=400&u=036009985ca497be1e96cee31b01588424b5da54&v=4" />
            <div class="card-body">
                <h4>Pearce Odegard </h4>
                <strong> Contributor </strong>
                <p><a href="https://github.com/podegard89">GitHub</a> | <a href="https://www.linkedin.com/in/pearce-odegard/">LinkedIn</a></p>
            </div>
        </div>

        <div class="card" id="listCard">
            <img style="border-radius: 50%; padding: 30px;" class="card-img-top" src="https://avatars.githubusercontent.com/u/69818916?s=400&u=b823265150864d5ab4ae485e4298888d45c618a0&v=4" />
            <div class="card-body">
                <h4>Megan Orton</h4>
                <strong> Contributor </strong>
                <p><a href="https://github.com/maorton">GitHub</a> | <a href="https://www.linkedin.com/in/megan-orton-b742741bb/">LinkedIn</a></p>
            </div>
        </div>

        <div class="card" id="listCard">
            <img style="border-radius: 50%; padding: 30px;" class="card-img-top" src="https://ca.slack-edge.com/T015PAP05CL-U0162FWRVJS-b5bf9694fa31-512" />
            <div class="card-body">
                <h4>Chris Battle </h4>
                <strong> Contributor </strong>
                <p><a href="https://github.com/chrisb1005">GitHub</a> | <a href="https://www.linkedin.com/in/cbat1005/">LinkedIn</a></p>
            </div>
        </div>

        <div class="card" id="listCard">
            <img style="border-radius: 50%; padding: 30px;" class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C4E03AQELYoJXNoqR2g/profile-displayphoto-shrink_200_200/0/1516794846746?e=1621468800&v=beta&t=g6WUWNaFMWvQ1zQwWlqMhIJwahhbz9Oi0C5zvzzyXEQ" />
            <div class="card-body">
                <h4>Taylor Johnson  </h4>
                <strong> Contributor </strong>
                <p><a href="https://github.com/MeursaultMoFo">GitHub</a> | <a href="https://github.com/TaylorMoJo">GitHub</a> | <a href="https://www.linkedin.com/in/taylormorganjohnson/">LinkedIn</a></p>
            </div>
        </div>

        <div class="card" id="listCard">
            <img style="border-radius: 50%; padding: 30px;" class="card-img-top" src="https://avatars.githubusercontent.com/u/57815785?s=400&u=e4cbcef84d665cf9acfa1672a413617a2576274c&v=4" />
            <div class="card-body">
                <h4>Anastasia Okuonghae</h4>
                <strong> Mentor </strong>
                <p><a href="https://github.com/aokuonghae">GitHub</a> | <a href="https://www.linkedin.com/in/anastasia-okuonghae/">LinkedIn</a></p>
            </div>
        </div>

    </section>
</div>