
<div class="card" style="padding: 1em">
    @{
        ViewData["Title"] = "About Us";
    }
    <h1 style="font-weight: 700">@ViewData["Title"]</h1>

    <p>
        <em><b>ToDyeFor</b></em> is a web application that allows surface designers, textile artists and DIY creators to calculate,
        search, create and keep track of dye recipes. The idea came from working for 5 years in a small surface
        design studio where all the recipes and fabric swatches were recorded and calculated by hand and stored
        in binders and bins. Needless to say it could be unorganized at times and lead to lost recipes, incorrect
        calculations and wondering where this beautiful scrap of fabric came from and how to replicate it. ToDyeFor
        aims to remove the headache of keeping track of dye recipes, incorrect calculations, and searching for a
        desired recipe.
    </p>
    <p>Contact us at <b id="infoEmail">info.ToDyeFor@gmail.com</b><button><i class="material-icons">content_copy</i></button> with any inquiries or feedback.</p>
</div>

<script>

</script>