@{
    ViewData["Title"] = "Home Page";
}

@using ToDyeFor.ViewModel;
@model calculateMXRecipeViewModel;

<div class="text-center">
    Welcome to ToDyeFor! Calculate your recipe below or <a href="Home/About">click here</a> to learn more about us.
    <div id="calculator">
        <form>
            @*step 1*@
            <div class="tab">
                <p>
                    <label asp-for="Fabric">
                        Fabric/Fiber Type
                        <select asp-for="Fabric" asp-items="Model.FabricTypes" id="fabric"></select>
                    </label>
                </p>
            </div>

            @*step 2*@
            <div class="tab">
                <p>
                    <label asp-for="FabricWeight">
                        Weight of Fabric (grams)
                        <input asp-for="FabricWeight" id="quantity">
                    </label>

                </p>
            </div>

            @*step 3*@
            <div class="tab">
                <p>
                    <label asp-for="DyeColor">
                        Dye Color
                        <input asp-for="DyeColor" id="dye">
                    </label>
                </p>
            </div>

            @*step 4*@
            <div class="tab">
                <label asp-for="Color">
                    Color
                    <select asp-for="Color" asp-items="Model.ColorTypes" id="color"></select>
                </label>
            </div>

            @*step 5*@
            <div class="tab">
                <p>
                    <label asp-for="ShadeDepth">
                        Depth of Shade:
                    </label>

                    <div class="slidecontainer">
                        <input asp-for="ShadeDepth" type="range" min="0" max="8" step="0.1" value="5" class="slider" id="shade">
                        <br>Value: <span id="depth"></span>%

                    </div>
                </p>
            </div>
            @*step 6*@
            <div class="tab">
                <label asp-for="Name">
                    Name
                    <input asp-for="Name" id="recipeName">
                </label>
            </div>

            <div style="overflow:auto;">
                <div style="float:right;">
                    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                </div>
            </div>

            <!-- Circles which indicate the steps of the form: -->
            <div style="text-align:center;margin-top:40px;">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
            </div>
        </form>

    </div>

    <div id="calculateResults">
            <h2 id="recipeStatus">Submit form to calculate results</h2>
            <div id="results">
                <ul>
                    <li id="named">Name:  </li>
                    <li id="fabricType">Fabric/Fiber Type: </li>
                    <li id="fabricWeight">Weight of Goods: </li>
                    <li id="dyeColor">Dye Name: </li>
                    <li id="colorType">Color: </li>
                    <li id="shadeDepth">Depth of Shade: </li>
                    <br />
                    <li id="dyeCalc">Dye Amount: </li>
                    <li id="saltCalc">Salt Amount: </li>
                    <li id="sodaAshCalc">Soda Ash Amount:</li>
                    <li id="waterCalc">Water Amount: </li>
                </ul>
            </div>

        @* TODO:: We need to now take the results that populate and send them as a form if ppl want to add to db.  
                    the code below is the basic dye calulator made in the recipe view that we could use to add to db*@
            @*<form method="post" asp-controller="Recipe" asp-action="Calculator">
                <div class="form-group">
                    <label asp-for="Name">
                        Recipe Name
                        <input asp-for="Name">
                    </label>
                    <label asp-for="DyeColor">
                        Dye Color
                        <input asp-for="DyeColor">
                    </label>
                    <label asp-for="ShadeDepth">
                        Depth of Shade
                        <input asp-for="ShadeDepth">
                    </label>
                    <label asp-for="FabricWeight">
                        Weight of Fabric (grams)
                        <input asp-for="FabricWeight">
                    </label>
                </div>
                <input type="submit" value="Calculate Recipe" />
            </form>*@
            @*<p>ask to save</p>
            <p>redirect to create user/login</p>*@
            @*<iframe src="Home/ResultsIFrame" name="iframe" title="Results Page" style="height:300px;width:300px"></iframe>

            <p><a href="Home/ResultsIFrame" target="iframe">link</a></p>*@
        </div>

        <script src="site.js">
        </script>

    </div>
