@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@*@{
    ViewData["Title"] = "Results";
}
<h1>@ViewData["Results"]</h1>*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Results</title>
</head>
<body>
    <div>
        this is where the results will go
        <p>ask to save</p>
        <p>redirect to create user/login</p>


    </div>


</body>
</html>