@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using ToDyeFor.ViewModel;
@model calculateMXRecipeViewModel;


<h1>Add Recipe</h1>

<form method="post" asp-controller="Recipe" asp-action="Calculator">
    <div class="form-group">
        <label asp-for="Name">
            Recipe Name
            <input asp-for="Name">
        </label>
        <br />
        <label asp-for="DyeColor">
            Dye Color
            <input asp-for="DyeColor">
        </label>
        <br />
        <label asp-for="ShadeDepth">
            Depth of Shade:
            <input asp-for="ShadeDepth" type="range" min="0" max="8" step="0.1" value="5" class="slider" id="shade">
            <br>Value: <span id="depth"></span>%
        </label>
        <br />
        <label asp-for="FabricWeight">
            Weight of Fabric (grams)
            <input asp-for="FabricWeight">
        </label>
        <br />
        <label asp-for="Fabric">
            Fabric/Fiber Type
            <select asp-for="Fabric" asp-items="Model.FabricTypes"></select>
        </label>
        <br />
        <label asp-for="Color">
            Color
            <select asp-for="Color" asp-items="Model.ColorTypes"></select>
        </label>
        <br />
    </div>
    <input type="submit" value="Calculate Recipe" />
</form>