@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MXRecipe


<h1>Edit @Model.Name  (id=@Model.Id)</h1>

<form method="post" action="/Recipe/Edit">
    <label asp-for="Name">
        Recipe Name
        <input asp-for="Name">
    </label>
    <br />
    <label asp-for="DyeColor">
        Dye Color
        <input asp-for="DyeColor">
    </label>
    <br />
    @* the calculations currently dont update
        also need to figure out how to replicate the select options*@
    <label asp-for="ShadeDepth">
        Depth of Shade
        <input asp-for="ShadeDepth">
    </label>
    <br />
    <label asp-for="FabricWeight">
        Weight of Fabric (grams)
        <input asp-for="FabricWeight">
    </label>
    <br />
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Edit Recipe" />
</form>


