@model ToDyeFor.ViewModel.calculateMXRecipeViewModel


<h1>Edit "@Model.Name"</h1>

<form method="post" action="/Recipe/Edit">
    <div class="form-group">
        <label asp-for="Name">
            Recipe Name
            <input asp-for="Name">
        </label>
        <br />
        <label asp-for="DyeColor">
            Dye Color
            <input asp-for="DyeColor">
        </label>
        <br />
        <label asp-for="ShadeDepth">
            Depth of Shade: <span id="depth"></span>%
            <input asp-for="ShadeDepth" type="range" min="0" max="8" step="0.1" value="@Model.ShadeDepth" class="slider" id="shade">
        </label>
        <br />
        <label asp-for="FabricWeight">
            Weight of Fabric (grams)
            <input asp-for="FabricWeight">
        </label>
        <br />
        <label asp-for="Fabric">
            Fabric/Fiber Type
            <select asp-for="Fabric" asp-items="Model.FabricTypes"></select>
        </label>
        <br />
        <label asp-for="Color">
            Color
            <select asp-for="Color" asp-items="Model.ColorTypes"></select>
        </label>
        <br />
    </div>
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-success">Update Recipe</button> 
</form>


