
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<form action="/search/results" method="post">
    <div class="searchBox">
        <input class="searchInput" type="text" name="searchInput" placeholder="">
        <button class="searchButton" href="#">
            <i class="material-icons">
                search
            </i>
        </button>
    </div>
</form>

