@using ToDyeFor.Models;
@model List<MXRecipe> 
@*
    this is a test view for styling a recipe card

*@
<html>
<head>
    <title>Recipe Card Styling</title>
    <meta charset="utf-8" />
    @*<link rel="stylesheet" href="../Styles/global.css" />
    <link rel="stylesheet" href="../Styles/card-layout.css" />*@
</head>

<body>
    <header>
        <div class="container">
            <h1></h1>
        </div>
    </header>
    <main class="container">
        <h2>Recipes</h2>

        @foreach (MXRecipe recipe in Model)
        {
            <section class="card-row">
                <div class="card" style="width: 18rem;background-color:@recipe.Color">
                    @*<img class="card-img-top" src="https://lh3.googleusercontent.com/proxy/PSuGSqgsFXUWPJs_V-L67uGae_nJvzAiFm1R6CzqAOYZD8FQ-8w0t-_EtG71hK0vpoYbZIyI3t7oHLF0nIYrRBCycaAiKqs3RB-GEPdV" alt="Card image cap">*@
                    <div class="card-body">
                        <h5 class="card-title">@recipe.Name</h5>
                        <p class="card-text">Last Updated: @recipe.UpdatedDate.Date</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </section>
        }

    </main>
</body>
</html>